# Load in all 1000 features

In [1]:
cd ..

/home/jovyan/Project_3_madelon

In [2]:
!conda install psycopg2 --yes

Fetching package metadata ...........
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda:
#
psycopg2                  2.7.3.2                  py36_0    conda-forge

In [3]:
%run __init__.py

In [4]:
con = pg2.connect(host='34.211.227.227',
                  dbname='postgres',
                  user='postgres')

In [5]:
cur = con.cursor(cursor_factory=RealDictCursor)

In [6]:
cur.execute('SELECT * FROM madelon ORDER BY random() LIMIT 4000;')

In [7]:
results = cur.fetchall()

In [8]:
con.close()

In [13]:
results_df = pd.DataFrame(results)

In [14]:
results_df.head()

,_id,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
0,105134,-0.772277,0.309950,0.353374,0.586183,0.064600,-1.387633,-1.452810,0.464624,1.469127,...,-0.321001,1.123718,0.291653,-0.133049,0.147423,-1.537578,-0.651449,0.067909,0.282493,0
1,85589,-0.973686,-0.823021,-0.551026,-0.987692,0.685747,-0.493949,-0.351627,-1.963491,1.373265,...,0.775235,-2.882310,-0.047380,-0.501525,-0.132687,-1.563878,-0.531468,0.532061,-0.531889,0
2,191818,-0.610191,0.325556,-0.209671,0.012314,-0.153349,1.515362,1.156180,-2.044501,-0.052946,...,0.324277,0.249371,-0.769024,0.535386,2.387986,0.297248,0.463440,-0.288031,0.624660,1
3,186771,0.911695,0.246505,-1.003584,-0.353540,-0.728721,0.667333,0.192089,0.525450,-0.095109,...,0.026670,0.742294,0.335378,-1.245495,0.781699,0.786010,0.486496,-0.879839,0.975943,1
4,116476,0.427432,-0.053851,0.024788,0.960758,-1.040478,1.390386,-0.982466,-1.436877,0.504999,...,0.596605,0.504690,-0.938706,1.260060,-1.507441,0.973349,0.672362,0.300977,-0.005781,1

In [17]:
results_df.index = results_df['_id']
del results_df['_id']

In [18]:
results_df.head()

,feat_000,feat_001,feat_002,feat_003,feat_004,feat_005,feat_006,feat_007,feat_008,feat_009,...,feat_991,feat_992,feat_993,feat_994,feat_995,feat_996,feat_997,feat_998,feat_999,target
_id,,,,,,,,,,,,,,,,,,,,,
105134,-0.772277,0.309950,0.353374,0.586183,0.064600,-1.387633,-1.452810,0.464624,1.469127,0.362242,...,-0.321001,1.123718,0.291653,-0.133049,0.147423,-1.537578,-0.651449,0.067909,0.282493,0
85589,-0.973686,-0.823021,-0.551026,-0.987692,0.685747,-0.493949,-0.351627,-1.963491,1.373265,-0.132725,...,0.775235,-2.882310,-0.047380,-0.501525,-0.132687,-1.563878,-0.531468,0.532061,-0.531889,0
191818,-0.610191,0.325556,-0.209671,0.012314,-0.153349,1.515362,1.156180,-2.044501,-0.052946,-0.366485,...,0.324277,0.249371,-0.769024,0.535386,2.387986,0.297248,0.463440,-0.288031,0.624660,1
186771,0.911695,0.246505,-1.003584,-0.353540,-0.728721,0.667333,0.192089,0.525450,-0.095109,1.222411,...,0.026670,0.742294,0.335378,-1.245495,0.781699,0.786010,0.486496,-0.879839,0.975943,1
116476,0.427432,-0.053851,0.024788,0.960758,-1.040478,1.390386,-0.982466,-1.436877,0.504999,1.095923,...,0.596605,0.504690,-0.938706,1.260060,-1.507441,0.973349,0.672362,0.300977,-0.005781,1

In [19]:
results_df.to_pickle('data/4000_results_df.p')

# Load in only 20 informative features

In [3]:
cd ..

/home/jovyan/Project_3_madelon

In [4]:
!conda install psycopg2 --yes
%run __init__.py

Fetching package metadata ...........
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda:
#
psycopg2                  2.7.3.2                  py36_0    conda-forge

In [5]:
features = [257, 269, 308, 315, 336, 341, 395, 504, 526, 639, 681, 701, 724, 736, 769, 808, 829, 867, 920, 956]

In [53]:
con = pg2.connect(host='34.211.227.227',
                  dbname='postgres',
                  user='postgres')

In [54]:
cur = con.cursor(cursor_factory=RealDictCursor)

In [55]:
cur.execute('SELECT _id, feat_257, feat_269, feat_308, feat_315, feat_336, feat_341, feat_395, feat_504, feat_526, feat_639, feat_681, feat_701, feat_724, feat_736, feat_769, feat_808, feat_829, feat_867, feat_920, feat_956, target FROM madelon ORDER BY random() LIMIT 60000;')

In [56]:
informative_results = cur.fetchall()

In [57]:
con.close()

In [58]:
informative_results_df = pd.DataFrame(informative_results)

In [59]:
informative_results_df.tail()

,_id,feat_257,feat_269,feat_308,feat_315,feat_336,feat_341,feat_395,feat_504,feat_526,...,feat_701,feat_724,feat_736,feat_769,feat_808,feat_829,feat_867,feat_920,feat_956,target
59995,181250,0.167181,2.737640,-0.858552,1.360595,2.783512,4.553796,3.102580,2.133985,-1.015436,...,-1.137433,-2.876358,2.544620,-1.745585,-0.381007,3.103803,-0.553039,-1.611411,1.269930,0
59996,111581,1.238251,0.351034,-0.621294,-1.007088,3.680396,3.536716,1.994591,0.955558,-1.880946,...,1.905426,-0.753260,1.923983,-2.132751,-1.219842,2.003721,-2.381835,0.459698,2.377572,0
59997,101387,0.418596,-0.612285,-1.239597,-0.307368,0.593040,-1.109471,-0.589780,-1.172791,0.698734,...,0.425614,1.614541,0.513622,0.414364,-0.982648,-0.713417,-0.794181,1.192550,-0.297867,1
59998,47307,-3.035933,6.049469,-1.009746,5.016094,-2.095102,0.510516,1.907964,-1.514116,2.318408,...,-6.536186,-3.317872,1.700082,-0.413912,0.802979,-1.143181,3.315421,-2.075764,-4.029825,0
59999,134853,0.280115,0.805242,-1.021296,0.260915,1.857386,1.760900,1.370458,0.427859,-0.448344,...,0.133920,-0.631296,1.550695,-0.878750,-0.681380,0.952741,-0.971736,0.121393,0.639757,0

In [60]:
informative_results_df.index = informative_results_df['_id']
del informative_results_df['_id']

In [62]:
informative_results_df.shape

(60000, 21)

In [63]:
informative_results_df.to_pickle('data/informative_results_df.p')